@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.site-container {
  @apply mx-auto my-7 md:max-w-[750px] lg:max-w-[1170px];
}

body {
  font-family: "Open Sans", sans-serif;
}

.sub-menu-link {
  @apply text-sm;
}

.sub-menu-link a::before {
  content: ">";
  color: inherit;
  margin-right: 5px;
  font-size: 10px;
}
.dropdown > a::after {
  content: ">";
  color: inherit;
  margin-left: 5px;
}
